@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "RobotoMono", sans-serif !important;
}
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../font/poppins/Poppins-Light.ttf") format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../font/poppins/Poppins-Medium.ttf") format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../font/poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../font/poppins/Poppins-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "RobotoMono";
  font-weight: 700;
  src: url("../font/robotoMono/RobotoMono-Bold.ttf") format("woff2");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 400;
  src: url("../font/robotoMono/RobotoMono-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 500;
  src: url("../font/robotoMono/RobotoMono-Medium.ttf") format("woff2");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 600;
  src: url("../font/robotoMono/RobotoMono-SemiBold.ttf") format("woff2");
}

.setFontRobotoMono {
  font-family: "RobotoMono", sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.infomon-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity var(--mask-animation-duration) ease,
    display var(--mask-animation-duration) ease;
}

.infomon-mask-hide {
  opacity: 0;
}

.infomon-mask-show {
  opacity: 1;
}
